<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tungpt.wizelineremotechallenge">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="tungpt.wizelineremotechallenge.App.WizelineApp"
        android:allowBackup="true"
        android:icon="@mipmap/wizeline"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="tungpt.wizelineremotechallenge.views.activities.featuresactivity.TimelineActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="tungpt.wizelineremotechallenge.views.activities.featuresactivity.SingleTweetActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="tungpt.wizelineremotechallenge.views.activities.featuresactivity.NewTweetActivity"
            android:windowSoftInputMode="adjustPan|stateVisible">
        </activity>
        <receiver
            android:name="tungpt.wizelineremotechallenge.broadcastreceivers.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>